@{
    ViewData["Title"] = "Sobre";
}

<div class="text-center">
    <h1>Sobre a Biblioteca</h1>

    <p>
        Projeto desenvolvido em ASP.NET Core MVC para a disciplina de Desenvolvimento Web.
    </p>
</div>