@{
    ViewData["Title"] = "Home";
}

<div class="text-center">

    <h1 class="display-3">Biblioteca Online</h1>

    <p class="lead">
        Bem-vindo ao sistema de gerenciamento da Biblioteca Online.
    </p>

    <p>
        Consulte os livros disponíveis e conheça nossos serviços.
    </p>

    <br>

    <a class="btn btn-primary btn-lg">
        Conheça nosso catálogo
    </a>

</div>